<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/CheckInAttention_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{106,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,135}</string>
			</dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/CheckinDayBG_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,840},{107,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/CheckinDayBG_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,975},{109,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/CheckInUnitBG_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{171,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,209}</string>
			</dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/CheckInUnitBG_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,424},{170,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,209}</string>
			</dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/CheckInUnitBG_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,632},{170,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,209}</string>
			</dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/CheckInUnitLight.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{180,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{182,219}</string>
			</dict>
			<key>hallcocosstudio/images/plist/CheckIn_Img/Hall_IconCheckin.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,947},{63,66}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>CheckIn_Img.png</string>
			<key>realTextureFileName</key>
			<string>CheckIn_Img.png</string>
			<key>size</key>
			<string>{180,1017}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>180</integer>
			<key>height</key>
			<integer>1017</integer>
		</dict>
	</dict>
</plist>