<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_ActivityInside.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,242},{110,109}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{111,110}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_BGShade1.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,1},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_BGShade2.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,243},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonBG1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{248,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,248}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonInside.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,251},{204,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,204}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_EditBox.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,115},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_ShopVIPbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,1},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_UnitBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,251},{185,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,165}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_CommonInside2.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,155},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_TextBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1},{46,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Back_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,155},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Back_N.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,366},{65,57}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Close.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,366},{74,74}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Dot.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,124},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_ItemBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1},{152,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,121}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_AnnouncementBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{699,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{700,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_EditBox2.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,124},{116,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,116}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconAttention.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,421},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconUpdate.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,115},{49,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,171},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_IconTitleAttention.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,171},{52,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_PlayerInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,354},{61,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,53}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Box_UnitInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,49},{43,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,42}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Common/Hall_Btn_Back_F.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,354},{65,57}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Common.png</string>
			<key>realTextureFileName</key>
			<string>Common.png</string>
			<key>size</key>
			<string>{701,516}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>701</integer>
			<key>height</key>
			<integer>516</integer>
		</dict>
	</dict>
</plist>