<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Help_Img/Btn_Clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,0},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,52}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Help_Img/Hall_Box_ChatPapo.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,0},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Help_Img/Hall_Box_ChatPapoArrow_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{23,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,14}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Help_Img/Hall_Box_ChatPapoArrow_R.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{23,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,14}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Help_Img/Hall_Btn_Send.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{131,58}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,66}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Help_Img.png</string>
			<key>realTextureFileName</key>
			<string>Help_Img.png</string>
			<key>size</key>
			<string>{277,58}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>277</integer>
			<key>height</key>
			<integer>58</integer>
		</dict>
	</dict>
</plist>