<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box2_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{512,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>box4_bg_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,514},{204,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,204}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>box6_liaotian_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,590},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>cjwt_bai_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,552},{130,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,28},{130,37}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>cjwt_huang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,590},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,31},{128,33}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>fasong_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,514},{131,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{131,58}}</string>
                <key>sourceSize</key>
                <string>{143,66}</string>
            </dict>
            <key>gytcy_bai_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,514},{162,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,27},{162,37}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>gytcy_huang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,514},{160,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{160,33}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>gzsm_bai_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,514},{130,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{130,37}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>gzsm_huang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,590},{128,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{128,33}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>jiantou_you_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,646},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>jiantou_zuo_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,646},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>qingchu_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,514},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>wtfk_bai_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,677},{130,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,28},{130,37}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>wtfk_huang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,590},{128,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,29},{128,35}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help_img.png</string>
            <key>size</key>
            <string>{514,719}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0fd8e2c050da849a2a4f0450bc17ef44$</string>
            <key>textureFileName</key>
            <string>help_img.png</string>
        </dict>
    </dict>
</plist>
