<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>icon_Vip_ji_lz_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,1},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>icon_Vip_nian_lz_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>icon_Vip_yue_lz_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{136,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,130}}</string>
                <key>sourceSize</key>
                <string>{136,130}</string>
            </dict>
            <key>icon_firstcharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1},{102,112}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,138},{126,82}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,50},{126,82}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,122},{182,86}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,46},{182,86}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao3.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,138},{194,84}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{194,84}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,138},{194,84}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{194,84}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao5.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,1},{138,120}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,12},{138,120}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1},{162,120}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{162,120}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao7.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1},{138,120}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{138,120}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
            <key>tongbao8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{190,120}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{190,120}}</string>
                <key>sourceSize</key>
                <string>{194,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_img.png</string>
            <key>size</key>
            <string>{1017,223}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf098164d2e022877b68ef6197439339$</string>
            <key>textureFileName</key>
            <string>icon_img.png</string>
        </dict>
    </dict>
</plist>
