<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_Btn_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,46},{41,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_Btn_Binding.png</key>
			<dict>
				<key>frame</key>
				<string>{{857,1},{108,46}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,56}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_Btn_Edit.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,1},{42,43}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_Btn_Password.png</key>
			<dict>
				<key>frame</key>
				<string>{{827,49},{148,63}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{148,77}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_InfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,176},{477,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{477,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_MainBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1},{196,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{196,173}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_RoleIconBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{375,375}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,375}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_TouchCover.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,232},{477,54}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{480,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_Btn_GoShop.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,1},{154,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,156}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_AttentionBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,341},{355,35}}</string>
				<key>offset</key>
				<string>{0,161}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,375}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_ChangePhotoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,288},{375,51}}</string>
				<key>offset</key>
				<string>{0,-162}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{375,375}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_TagVerify.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,114},{153,55}}</string>
				<key>offset</key>
				<string>{-109,157}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{370,370}</string>
			</dict>
			<key>hallcocosstudio/images/plist/PersonalInfo_Img/PersonalInfo_RoleIconMask.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PersonalInfo_Img.png</string>
			<key>realTextureFileName</key>
			<string>PersonalInfo_Img.png</string>
			<key>size</key>
			<string>{976,377}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>976</integer>
			<key>height</key>
			<integer>377</integer>
		</dict>
	</dict>
</plist>