<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,323},{149,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{355,190}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item1_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,482},{354,190}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item1Gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,196},{354,190}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,361},{355,190}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_Item2_L.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,2},{355,190}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{359,198}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Btn_OneCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,168},{151,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,57}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_ConnerFirstcharge.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,476},{98,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,106}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_ConnerHot.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,390},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_ConnerWeigh.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,390},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_MarkGift.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,390},{65,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,65}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_VIPDetailBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,578},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_VIPInfoBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,2},{162,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,162}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_VIPTitle.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,168},{204,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,50}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconMonth.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,482},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconSeason.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,539},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconWeek.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,596},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_IconYear.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,653},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Arrow_Exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,376},{62,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{62,43}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_Line_Exchange.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,2},{26,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,4}</string>
			</dict>
			<key>hallcocosstudio/images/plist/Shop_Img/Shop_AttentionBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,168},{310,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{310,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Shop_Img.png</string>
			<key>realTextureFileName</key>
			<string>Shop_Img.png</string>
			<key>size</key>
			<string>{727,718}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>727</integer>
			<key>height</key>
			<integer>718</integer>
		</dict>
	</dict>
</plist>