<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>score_coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,2},{41,58}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{41,58}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{45,56}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{45,56}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{59,52}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{53,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{53,48}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{53,52}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{53,52}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{61,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{61,58}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
            <key>score_coin_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{37,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{37,58}}</string>
                <key>sourceSize</key>
                <string>{81,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>score_coin.png</string>
            <key>size</key>
            <string>{352,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6fa641aeca5ec2ba3e773899a67163e:d1ef89133cf2502d7cd749196297b8d1:dc92db47a42f2747af2f44a71943ac80$</string>
            <key>textureFileName</key>
            <string>score_coin.png</string>
        </dict>
    </dict>
</plist>
