<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hdwz_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,55},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,25}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>jindu_se_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,213},{255,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{255,33}}</string>
                <key>sourceSize</key>
                <string>{255,35}</string>
            </dict>
            <key>process.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,29},{218,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,20}}</string>
                <key>sourceSize</key>
                <string>{218,20}</string>
            </dict>
            <key>process_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{325,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,27}}</string>
                <key>sourceSize</key>
                <string>{325,27}</string>
            </dict>
            <key>rm_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,29},{48,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,25}}</string>
                <key>sourceSize</key>
                <string>{50,27}</string>
            </dict>
            <key>rwm_bg_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,29},{182,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,183}}</string>
                <key>sourceSize</key>
                <string>{182,183}</string>
            </dict>
            <key>yinzi_bg_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,81},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other_img.png</string>
            <key>size</key>
            <string>{327,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b437ef776c7a5f5bf037d89baeb2d84$</string>
            <key>textureFileName</key>
            <string>other_img.png</string>
        </dict>
    </dict>
</plist>
