<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1249,596}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1249,596}}</string>
                <key>sourceSize</key>
                <string>{1249,596}</string>
            </dict>
            <key>bk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,33},{1,1}}</string>
                <key>offset</key>
                <string>{-204.5,264.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{410,530}</string>
            </dict>
            <key>bk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{1,1}}</string>
                <key>offset</key>
                <string>{-339.5,264.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{680,530}</string>
            </dict>
            <key>bk_renwuxingxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,411},{354,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,314}}</string>
                <key>sourceSize</key>
                <string>{354,314}</string>
            </dict>
            <key>bk_renwuxingxiang0.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,67},{354,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,314}}</string>
                <key>sourceSize</key>
                <string>{354,314}</string>
            </dict>
            <key>bk_tishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{355,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,35}}</string>
                <key>sourceSize</key>
                <string>{355,35}</string>
            </dict>
            <key>btn01_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,831},{148,63}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{148,63}}</string>
                <key>sourceSize</key>
                <string>{158,77}</string>
            </dict>
            <key>btn02_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,755},{108,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{108,46}}</string>
                <key>sourceSize</key>
                <string>{108,56}</string>
            </dict>
            <key>btn_bianji.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1009},{42,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{42,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>btn_chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1081},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{42,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>icon_shenhezhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,1009},{156,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,57}}</string>
                <key>sourceSize</key>
                <string>{156,57}</string>
            </dict>
            <key>icon_xiaoyao.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,755},{140,248}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{140,248}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>icon_zixia.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,925},{166,228}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{166,228}}</string>
                <key>sourceSize</key>
                <string>{200,270}</string>
            </dict>
            <key>textbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1121},{477,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{477,54}}</string>
                <key>sourceSize</key>
                <string>{477,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>personalInfo.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eec75b1bb4193e52700b4c43a2c4a7d3$</string>
            <key>textureFileName</key>
            <string>personalInfo.png</string>
        </dict>
    </dict>
</plist>
