<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_btn_OneCard.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,208},{151,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>shop_btn_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,361},{149,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,57}}</string>
                <key>sourceSize</key>
                <string>{151,57}</string>
            </dict>
            <key>shop_btn_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1430},{355,190}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{355,190}}</string>
                <key>sourceSize</key>
                <string>{359,198}</string>
            </dict>
            <key>shop_btn_item_1_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1073},{355,190}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{355,190}}</string>
                <key>sourceSize</key>
                <string>{359,198}</string>
            </dict>
            <key>shop_btn_item_1_Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{355,190}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{355,190}}</string>
                <key>sourceSize</key>
                <string>{359,198}</string>
            </dict>
            <key>shop_btn_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{355,190}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{355,190}}</string>
                <key>sourceSize</key>
                <string>{359,198}</string>
            </dict>
            <key>shop_btn_item_2_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,190}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{355,190}}</string>
                <key>sourceSize</key>
                <string>{359,198}</string>
            </dict>
            <key>shop_conner_firstcharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1787},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,106}}</string>
                <key>sourceSize</key>
                <string>{98,106}</string>
            </dict>
            <key>shop_conner_hot.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1951},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shop_conner_weigh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1951},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>shop_icon_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,512},{65,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>text_VIP_privilege.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{204,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,50}}</string>
                <key>sourceSize</key>
                <string>{204,50}</string>
            </dict>
            <key>text_shop_boxVIP.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1787},{162,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,162}}</string>
                <key>sourceSize</key>
                <string>{162,162}</string>
            </dict>
            <key>text_shop_boxVIP_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1895},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_img_new.png</string>
            <key>size</key>
            <string>{268,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d331fc7ded9183023971173950bf376$</string>
            <key>textureFileName</key>
            <string>shop_img_new.png</string>
        </dict>
    </dict>
</plist>
