<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box7_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,461},{43,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,39}}</string>
                <key>sourceSize</key>
                <string>{43,39}</string>
            </dict>
            <key>box8_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,407},{62,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,53}}</string>
                <key>sourceSize</key>
                <string>{62,53}</string>
            </dict>
            <key>bq_bg_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,147},{121,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,122}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>ckhytq_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{297,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,112}}</string>
                <key>sourceSize</key>
                <string>{297,112}</string>
            </dict>
            <key>cz_bai_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,411},{66,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,30},{66,37}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>cz_huang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,305},{64,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,31},{64,35}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>dx_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,358},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>dx_zhifu_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,449},{64,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>hy_bai_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,407},{66,37}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,30},{66,37}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>hy_huang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,435},{64,33}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,33},{64,33}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>ll_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,358},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>s200_bq_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,339},{67,70}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,10},{67,70}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>s300_bq_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,340},{67,70}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{67,70}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>s500_bq_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,269},{67,70}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{67,70}}</string>
                <key>sourceSize</key>
                <string>{121,122}</string>
            </dict>
            <key>scbg_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{309,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,243}}</string>
                <key>sourceSize</key>
                <string>{309,243}</string>
            </dict>
            <key>song_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,218},{33,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,36}}</string>
                <key>sourceSize</key>
                <string>{33,36}</string>
            </dict>
            <key>tbdh_bai_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{130,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,30},{130,37}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>tbdh_huang_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,269},{128,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,31},{128,35}}</string>
                <key>sourceSize</key>
                <string>{226,95}</string>
            </dict>
            <key>yl_zhifu_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,370},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>zfb_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{145,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,145}}</string>
                <key>sourceSize</key>
                <string>{145,145}</string>
            </dict>
            <key>zfb_zhifu_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,305},{92,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,33}}</string>
                <key>sourceSize</key>
                <string>{94,33}</string>
            </dict>
            <key>zffs_logo_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,147},{70,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,15},{70,46}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_img.png</string>
            <key>size</key>
            <string>{496,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd6fc57d75f46ffdf1f10d5d55a73f49$</string>
            <key>textureFileName</key>
            <string>shop_img.png</string>
        </dict>
    </dict>
</plist>
